PORT=3000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

CACHE_TTL=300000

CB_TIMEOUT_MS=10000
CB_ERROR_THRESHOLD_PERCENT=50
CB_RESET_TIMEOUT_MS=30000
CB_ROLLING_COUNT_TIMEOUT_MS=60000
CB_ROLLING_COUNT_BUCKETS=10
CB_VOLUME_THRESHOLD=5

